@model List<PresentationLayer.Models.ViewReviews>

@{
    ViewData["Title"] = " | Отзывы";
}

@section Styles {
    <link rel="stylesheet" href="~/css/reviews.css">
}
@section Scripts {
        <script src="~/js/reviews-panel.js"></script>
}

<main class="page">
    <section class="panel">
        <h1 class="panel-title">Здесь вы можете оставить своё мнение о нас и нашем персонале!</h1><br><br>

        @foreach (var review in Model.OrderByDescending(review => review.date).ThenByDescending(review => review.time))
        {
        <article class="reviews-item">
            <main class="item" data-type="review">
                <div class="review-info">
                    <div class="rating" data-value="@review.rating">
                        <input type="radio" disabled><label></label>
                        <input type="radio" disabled><label></label>
                        <input type="radio" disabled><label></label>
                        <input type="radio" disabled><label></label>
                        <input type="radio" disabled><label></label>
                    </div>
                    <div class="review-author">
                        <div class="review-name">@review.visitor.name</div>
                        <div class="review-surname">@review.visitor.surname</div>
                    </div>
                    <div class="date-time">
                        <div class="review-time">@review.time</div>
                        <div class="review-date">@review.date</div>
                    </div>
                </div>
            </main>
            <footer class="review-text">
                <h2>@review.text</h2>
            </footer>
        </article>
        }

    </section>
</main>


<div class="reviews-window" style="z-index: 1000; position: relative;">
</div>


<footer>
    <nav class="reviews-nav">
        <div class="reviews-grid">
            <button class="button" type="button" data-type="primary" data-types="reviews" data-size="medium">Оставить отзыв</button>
        </div>
    </nav>
</footer>