@model List<PresentationLayer.Models.ViewEmployees>

@{
    ViewData["Title"] = " | Наши работники";
}

@section Styles {
    <link rel="stylesheet" href="~/css/workers.css">
}

<main class="page">
    <section class="panel" data-type="workers">
        <h1 class="panel-title">А вот и наша любимая команда!</h1><br><br>

        @foreach (var employee in Model)
        {
        <article class="workers-item">
            <main class="item" data-type="worker">
                <picture class="worker-photo" data-type="worker">
                        <img src="data:image.jpg;base64,@Convert.ToBase64String(@employee.photography)" alt="">
                </picture>
                <div class="worker-info">
                    <div class="name-surname">
                            <div class="worker-name">@employee.name</div>
                            <div class="worker-surname">@employee.surname</div>
                    </div>
                        <div class="worker-post">@employee.position.description</div>
                        <div class="worker-date">@employee.hireDate</div>
                </div>
            </main>
            <footer class="worker-about">
                    <h2>@employee.about</h2>
            </footer>
        </article>
        }


    </section>
</main>
