@model List<DataAccessLayer.Entities.Products>

@{
    ViewData["Title"] = "";
}

@section Styles {
    <link rel="stylesheet" href="~/css/events.css">
    <link rel="stylesheet" href="~/css/popular.css">
    <link rel="stylesheet" href="~/css/main.css">
}
@section Scripts {
    <script src="~/js/popular-list.js"></script>
    <script src="~/js/events-panel.js"></script>
}

<div class="panel" data-type="events">
    <div class="container">
        <div class="events-panel">
            <div class="events-list" style="transform: translate3d(0px, 0px, 0px)">



                <div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div><div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div><div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div><div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div><div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div><div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div><div class="events-item">
                    <div class="events-slide">
                        <div class="events-slide-image">
                            <img src="./content/image/test.jpg" alt="" class="events-image">

                            <div class="events-slide-text">
                                <div class="events-title">Акция<br>весны</div>
                                <div class="events-text" style="display:none;">22.03.2024<br><br>В этот день все пиццы будут со скидкой в 20%! Успей купить пока акция не закончится!</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <i class="item prev" data-type="events">
                <svg class="events-button prev" width='30' height='30' viewBox='0 0 7 12' fill='none'>
                    <path d='M6 11L1 6L6 1' stroke='#555353' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'></path>
                </svg>
            </i>
            <i class="item next" data-type="events">
                <svg class="events-button next" width='30' height='30' viewBox='0 0 7 12' fill='none'>
                    <path d='M1 11L6 6L1 1' stroke='#555353' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'></path>
                </svg>
            </i>
        </div>
    </div>
</div>



<section class="popular-panel">
    <h2 class="popular-title">Часто заказывают</h2>
    <div class="popular-container">
        <div class="popular-list slider" style="transform: translate3d(0px, 0px, 0px)">
            <article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article>


            <article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони1</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article><article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони2</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article><article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони3</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article><article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони4</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article>
            </article><article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони5</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article><article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони6</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article><article class="popular-item">
                <div class="popular-picture">
                    <img src="./content/image/pepperoni.png" alt="">
                </div>
                <div class="popular-info">
                    <h2 class="popular-name">Пепперони7</h2>
                    <div class="popular-price">13,99 руб.</div>
                </div>
            </article>


        </div>
        <i class="item prev" data-type="popular">
            <svg class="popular-button prev">
                <circle cx="17" cy="17" r="17" fill="#555353"></circle>
                <path d="M 19.9409 9.8418 L 13.759 16.9997 L 19.9409 24.1576" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </i>
        <i class="item next" data-type="popular">
            <svg class="popular-button next">
                <circle cx="17" cy="17" r="17" fill="#555353"></circle>
                <path d="M 14.759 9.8418 L 20.9409 16.9997 L 14.759 24.1576" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </i>
    </div>
</section>



<div class="page">
    <main class="panel" data-type="main">
        @foreach (var productType in Model.Select(p => p.type.name).Distinct())
        {
            <section class="group-panel" id="@productType.ToLower()">
                <h2 class="panel-title">@productType</h2>

                @foreach (var product in Model.Where(p => p.type.name == productType))
                {
                    <article class="group-item">
                        <main class="item" data-type="main">
                            <picture class="item-picture" data-type="main">
                                <img src="./content/image/pepperoni.png" alt="">
                            </picture>
                            <div class="item-title">
                                <a href="" class="item-name">@product.name</a>
                            </div>
                            @product.description
                        </main>
                        <footer class="item-footer">
                            <div class="item-price">@product.price руб.</div>
                            <button class="buy-item" type="button" data-type="select" data-size="medium">Выбрать</button>
                        </footer>
                    </article>
                }
            </section>
        }
    </main>
</div>